@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Open sans';
    overflow-x: hidden;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 5px;
    background:white;
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(#ed018b 50%,#ed018b 50%);
    border-radius: 300px;
}
.navbar{
    background-color: white;
    border-bottom: .5px solid #ccc;
}
.navbar-toggler{
    outline: none;
    border: none;
    margin: 5px;
}
.navbar-toggler,
.navbar-toggler:active,
.navbar-toggler:focus,
.navbar-toggler:hover{
    outline: none;
    border: none;
}
*::selection{
    cursor: default;
    background: transparent;
}
.item{
    font-weight: 900;
}
.hero{
    width: 100%;
    height: 100vh;
    background: white;
    overflow: hidden;
}
.hero .logo{
    position: absolute;
    top:20%;
    left: -1%;
}
.hero .side{
    position: absolute;
    right: 0%;
    bottom:0%;
    overflow: hidden;
}
.hero a{
    position: absolute;
    top:65%;
    left: 5%;
    text-decoration: none;
    font-family: 'Open sans';
    color: #ed018b;
    padding: 5px 50px 5px 25px;
    border: 2px solid #ed018b;
    z-index: 2;
    overflow: hidden;
    transition: .15s;
    border-radius: 5%;
}
.hero a:hover{text-decoration: none;}
.bg{
    padding: 18px 0px 20px 0px;
    background: #ed018b;
    z-index:-1;
    position: absolute;
    top:0;
    right: 0;
    transition: .15s;
}
.hero a:hover{color: white;}
.hero a:hover .bg{
    padding: 18px 0px 20px 180px;
}
.about{
    width: 100%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 100px;
    background: linear-gradient(to bottom right, pink,rgba(255, 192, 203, 0.918));
    background-attachment: fixed;
    clip-path: polygon(100% 0, 100% 96%, 0 100%, 0 0);
}
.abttitle{
    font-family: 'Open sans';
    font-size: 3.5rem;
    position: relative;
    left: 5%;
    margin: 20px;
    overflow: hidden;
}
.bold{
    font-weight: 900;
}
.about p{
    text-align: center;
    font-family: 'Open Sans';
    font-weight: 300;
    padding: 50px 5vw 25px 5vw;
    line-height: 40px;
}
.dfda{
    width: 100%;
    height:auto;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 40px;
    overflow: hidden;
    border-bottom: 2px solid pink;
}
.dfda h1{
    margin: 40px;
    overflow: hidden;
}
.dfda img{
    width: 30vw;
    border-radius: 25%;
    border:12px solid pink;
    box-shadow: 0 0 500px pink;
}
.dfda p{
    text-align: center;
    font-family: 'Open Sans';
    font-weight: 300;
    padding: 100px 5vw 25px 5vw;
    line-height: 40px;
}
.gallery{
    width: 100%;
    height: auto;
    padding-top: 40px;
    padding-bottom: 80px;
    overflow: hidden;
}
.gallery h1{
    margin: 40px;
    overflow: hidden;
}
.gallery p{
    margin: 40px;
}
.gallery .part{
    border-bottom: 2px solid pink;
}
.gallery .part img{
    margin: 40px;
    border-radius: 20px;
    width: 55vw;
}
.gallery .part h2{
    margin: 40px;
    overflow: hidden;
}
.cs{
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: hidden;
}
.cs h1{
    margin: 60px;
    overflow: hidden;
}
.cs img{
    width: 100vw;
    margin: 0px;
}
.contact{
    width: 100%;
    height: auto;
    background: #ed018b5e;
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
    padding-top: 20px;
    padding-bottom: 20px;
}
.contact h1{
    overflow: hidden;
    margin-top: 130px;
    float: left;
    margin-left: 10vw;
    color: white;
}
.contact p{
    overflow: hidden;
    margin-top: 220px;
}
.contact form{
    overflow: hidden;
    margin-top: 220px;
}
.contact form input, .contact form textarea{
    margin-left: 20px;
    margin-top: 20px;
    padding: 10q;
    outline: none;
    border: none;
    border-radius: 8px;
}
.contact form textarea{
    width: 90%;
}
.contact form .submit{
    margin-left: 40px;
    background: white;
    padding-left: 20px;
    padding-right: 50px;
    cursor: pointer;
}
.footer{
    height: auto;
    padding-top: 20px;padding-bottom: 20px;
    align-items: center;
    text-align: center;
    justify-content:center;
    display:flex;
    flex-direction: column;
    background-color: white
}
.footer .links{
    display:inline;
}
.footer a {
    margin: 20px;
    color: #ed018b;
    transition:.5s;
}
.footer a:hover{
    text-decoration: none;
    color: black;
}
.footer a svg:hover{
    fill: #ed018b;
    transition:.5s;
}
@media(max-width:1000px){
    .hero .side{
        display: none;
    }
    .hero .logo{
        position: absolute;
        top: 15%;
        left: -1%;
        width:35rem
    }
    .dfda img{
        width: 50vw;
    }
    .gallery .part img{
        margin: 40px;
        border-radius: 20px;
        width: 75vw;
    }
    .cs img{
        width: 100%;
        overflow: hidden;
    }
}
@media(max-width:600px){
    .hero .logo{
        position: absolute;
        top: 15%;
        left: -1%;
        width:100vw
    }
    .dfda img{
        width: 60vw;
    }
    .gallery .part img{
        margin: 20px;
        border-radius: 20px;
        width: 85vw;
    }
}