@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Open sans';
    overflow-x: hidden;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
.navbar{
    background-color: white;
    border-bottom: 2px solid #ed018b;
}
.navbar-toggler{
    outline: none;
    border: none;
    margin: 5px;
}
.navbar-toggler:active,
.navbar-toggler:focus,
.navbar-toggler:hover{
    outline: none;
    border: none;
}
*::selection{
    cursor: default;
    background: transparent;
}
.item{
    font-weight: 900;
}
.hero{
    width: 100%;
    height: 100vh;
    background: white;
    overflow: hidden;
}
.hero .logo{
    position: absolute;
    top:20%;
    left: -1%;
}
.hero .side{
    position: absolute;
    right: 5%;
    bottom:0%;
    overflow: hidden;
}
.hero a{
    position: absolute;
    top:65%;
    left: 5%;
    text-decoration: none;
    font-family: 'Open sans';
    color: #ed018b;
    padding: 5px 50px 5px 25px;
    border: 2px solid #ed018b;
    z-index: 2;
    overflow: hidden;
    transition: .15s;
    border-radius: 5%;
}
.hero a:hover{text-decoration: none;}
.bg{
    padding: 18px 0px 20px 0px;
    background: #ed018b;
    z-index:-1;
    position: absolute;
    top:0;
    right: 0;
    transition: .15s;
}
.hero a:hover{color: white;}
.hero a:hover .bg{
    padding: 18px 0px 20px 180px;
}
.about{
    width: 100%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 100px;
    background: linear-gradient(to bottom right, pink,rgba(255, 192, 203, 0.918));
    background-attachment: fixed;
    clip-path: polygon(100% 0, 100% 96%, 0 100%, 0 0);
}
.abttitle{
    font-family: 'Open sans';
    font-size: 3.5rem;
    position: relative;
    left: 5%;
    margin: 20px;
    overflow: hidden;
}
.bold{
    font-weight: 900;
}
.about p{
    text-align: center;
    font-family: 'Open Sans';
    font-weight: 300;
    padding: 50px 5vw 25px 5vw;
    line-height: 40px;
}
.dfda{
    width: 100%;
    height:auto;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 40px;
    overflow: hidden;
    border-bottom: 2px solid pink;
}
.dfda h1{
    margin: 40px;
    overflow: hidden;
}
.dfda img{
    width: 30vw;
    border-radius: 25%;
    border:12px ridge pink;
    box-shadow: 0 0 5px #ed018b;
}
.dfda p{
    text-align: center;
    font-family: 'Open Sans';
    font-weight: 300;
    padding: 100px 5vw 25px 5vw;
    line-height: 40px;
}
.gallery{
    width: 100%;
    height: auto;
    padding-top: 40px;
    padding-bottom: 80px;
    overflow: hidden;
}
.gallery h1{
    margin: 40px;
    overflow: hidden;
}
.gallery p{
    margin: 40px;
}
.gallery .part{
    border-bottom: 2px solid pink;
}
.gallery .part img{
    margin: 40px;
    border-radius: 20px;
}
.gallery .part h2{
    margin: 40px;
    overflow: hidden;
}
@media(max-width:1000px){
    .hero .side{
        display: none;
    }
    .hero .logo{
        position: absolute;
        top: 15%;
        left: -1%;
        width:35rem
    }
    .dfda img{
        width: 50vw;
    }
}
@media(max-width:600px){
    .hero .logo{
        position: absolute;
        top: 15%;
        left: -1%;
        width:100vw
    }
    .dfda img{
        width: 60vw;
    }
}