*{
    margin: 0;
    padding: 0;
    font-family: montserrat;
}
#particles-js{
    width: 100%;
    height:100vh;
    top:0;
    left: 0;
}
#particles-js{
    width: 100%;
    height: 100vh;
    z-index: 10;
}
#particles-js{
    background: linear-gradient(to right,#FFC0CB  50%,#e75480 50%);
    width: 100%;
    height: 100vh;
}
.header .text{
    height: 100vh;
    width: 100%;
    position: absolute;
    top:0;
    background: linear-gradient(to right,#FFC0CB 50%,#e75480 50%);
    clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
    clip-path: polygon(100% 0%, 0% 0% , 0% 65%, 1% 64.95%, 2% 64.8%, 3% 64.6%, 4% 64.3%, 5% 63.9%, 6% 63.45%, 7% 62.9%, 8% 62.25%, 9% 61.55%, 10% 60.8%, 11% 59.95%, 12% 59.05%, 13% 58.1%, 14% 57.1%, 15% 56.05%, 16% 55%, 17% 53.9%, 18% 52.8%, 19% 51.65%, 20% 50.5%, 21% 49.35%, 22% 48.2%, 23% 47.05%, 24% 45.9%, 25% 44.8%, 26% 43.75%, 27% 42.75%, 28% 41.75%, 29% 40.8%, 30% 39.9%, 31% 39.1%, 32% 38.35%, 33% 37.65%, 34% 37.05%, 35% 36.5%, 36% 36.05%, 37% 35.65%, 38% 35.35%, 39% 35.15%, 40% 35.05%, 41% 35%, 42% 35.05%, 43% 35.2%, 44% 35.45%, 45% 35.75%, 46% 36.15%, 47% 36.65%, 48% 37.2%, 49% 37.85%, 50% 38.55%, 51% 39.35%, 52% 40.2%, 53% 41.1%, 54% 42.05%, 55% 43.05%, 56% 44.1%, 57% 45.15%, 58% 46.3%, 59% 47.4%, 60% 48.55%, 61% 49.7%, 62% 50.85%, 63% 52%, 64% 53.15%, 65% 54.25%, 66% 55.35%, 67% 56.4%, 68% 57.45%, 69% 58.4%, 70% 59.35%, 71% 60.2%, 72% 61.05%, 73% 61.8%, 74% 62.45%, 75% 63.05%, 76% 63.6%, 77% 64.05%, 78% 64.4%, 79% 64.7%, 80% 64.85%, 81% 65%, 82% 65%, 83% 64.9%, 84% 64.75%, 85% 64.5%, 86% 64.2%, 87% 63.75%, 88% 63.25%, 89% 62.7%, 90% 62.05%, 91% 61.3%, 92% 60.5%, 93% 59.65%, 94% 58.75%, 95% 57.8%, 96% 56.8%, 97% 55.75%, 98% 54.65%, 99% 53.55%, 100% 52.4%);
    transform: rotate(180deg);
}
.header h1{
    position: absolute;
    top:25%;
    left:5%;
    font-weight: 500;
    font-size: 7vw;
}
.fda{
    color: transparent;
    background: linear-gradient(to bottom right, #FFC0CB, #e75480);
    background-clip: text;
    -webkit-background-clip: text;
}

.header a{
    position: absolute;
    top:75%;
    left:15%;
    color: #FFC0CB;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 35px 10px 35px;
    border-radius: 5px;
    border: 2px solid #FFC0CB;
    z-index: 20;
}
.header a:hover{
    color: black;
}
.bg{
    padding: 20px 15px 20px 0px;
    background: linear-gradient(to top right,#FFC0CB,#FFC0CB);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: .15s;
    clip-path: polygon(0 0, 100% 0%, 38% 100%, 0% 100%);

}
.header a:hover .bg{
    padding: 20px 90.5px 20px 90.5px;
    color: #161616;
    clip-path: none;
}
.abt{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to left,#e75480 50%,#FFC0CB 50%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}
.abt .abttext{
    height: 100vh;
    width: 100%;
    position: absolute;
    top:100%;
    background: linear-gradient(to right,#FFC0CB 50%,#e75480 50%);
    clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
    clip-path: polygon(100% 0%, 0% 0% , 0% 65%, 1% 64.95%, 2% 64.8%, 3% 64.6%, 4% 64.3%, 5% 63.9%, 6% 63.45%, 7% 62.9%, 8% 62.25%, 9% 61.55%, 10% 60.8%, 11% 59.95%, 12% 59.05%, 13% 58.1%, 14% 57.1%, 15% 56.05%, 16% 55%, 17% 53.9%, 18% 52.8%, 19% 51.65%, 20% 50.5%, 21% 49.35%, 22% 48.2%, 23% 47.05%, 24% 45.9%, 25% 44.8%, 26% 43.75%, 27% 42.75%, 28% 41.75%, 29% 40.8%, 30% 39.9%, 31% 39.1%, 32% 38.35%, 33% 37.65%, 34% 37.05%, 35% 36.5%, 36% 36.05%, 37% 35.65%, 38% 35.35%, 39% 35.15%, 40% 35.05%, 41% 35%, 42% 35.05%, 43% 35.2%, 44% 35.45%, 45% 35.75%, 46% 36.15%, 47% 36.65%, 48% 37.2%, 49% 37.85%, 50% 38.55%, 51% 39.35%, 52% 40.2%, 53% 41.1%, 54% 42.05%, 55% 43.05%, 56% 44.1%, 57% 45.15%, 58% 46.3%, 59% 47.4%, 60% 48.55%, 61% 49.7%, 62% 50.85%, 63% 52%, 64% 53.15%, 65% 54.25%, 66% 55.35%, 67% 56.4%, 68% 57.45%, 69% 58.4%, 70% 59.35%, 71% 60.2%, 72% 61.05%, 73% 61.8%, 74% 62.45%, 75% 63.05%, 76% 63.6%, 77% 64.05%, 78% 64.4%, 79% 64.7%, 80% 64.85%, 81% 65%, 82% 65%, 83% 64.9%, 84% 64.75%, 85% 64.5%, 86% 64.2%, 87% 63.75%, 88% 63.25%, 89% 62.7%, 90% 62.05%, 91% 61.3%, 92% 60.5%, 93% 59.65%, 94% 58.75%, 95% 57.8%, 96% 56.8%, 97% 55.75%, 98% 54.65%, 99% 53.55%, 100% 52.4%);
    transform: rotate(180deg);
    z-index:1;
}
.abt h1{
    font-size: 7vw;
    z-index: 2;
    position: absolute;
    left:0;
    margin: 40px;
}
.abt p{
    z-index: 2;
    position: absolute;
    left: 3%;
    margin-top: 160px;
}
@media(max-width:992px){
    .text{
        display: none;
    }
    .header h1{
        position: absolute;
        top:35%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: 12vw;
    }
    .fda{
        color: transparent;
        background: linear-gradient(to top right, #e75480 50%, #e75480 50%);
        background-clip: text;
        -webkit-background-clip: text;
    }
    .header a{
        position: absolute;
        top:75%;
        left:50%;
        transform: translate(-50%,-50%);
        color: #262626;
        border: 2px solid #262626;
    }
    .header a:hover{
        color: #FFC0CB;
    }
    .bg{
        background: linear-gradient(to right,#262626 50%,#161616 50%);
    }
}